# exclude everything except files and folder below
/*

!/.gitignore
!/application
!/public
!/db-patches
!/utils
!/README.md
!/.htaccess
!/index.php
!/composer.json
!/composer.lock
!/composer.phar
!/vendor
!/fabfile.py
!/build.xml
!/package.json
!/Gruntfile.js
!/gulpfile.js
!/backstop.json
!/backstop_data

public/captcha/images/*
public/stylesheets/main.css
public/stylesheets/main.css.map
application/logs/*
public/products/*
public/scripts/main.min.1.4.*
public/stylesheets/main.1.4.*
db-patches/database/*
!db-patches/database/.git-add
db-patches/properties/prod.ini

.DS_Store
application/tests/_output/*
tests/_output/*
