.confirm-order ul {
    width: 100%;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.confirm-order li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
    overflow: auto;
}

.confirm-order li > div > label {
    width: 100%;
}
.confirm-order li:first-child {
    border-bottom: 1px solid #777;
}
.confirm-order li:last-child {
    border-bottom: none;
}

h3 {
    padding: 0;
}

/* === Form Elements === */

.confirm-order label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}
.confirm-order label.full-width {
    width: 100%;
    display: block;
}
.confirm-order input[type=text], .confirm-order input[type=password] {
    width: 220px;
}

.confirm-order textarea {
    padding: 8px;
    width: 300px;
}

/* === HTML5 validation styles === */
.confirm-order input:required, .confirm-order textarea:required {
    background: #fff url(/p/public/theme/red_asterisk.png) no-repeat 98% center;
}

.confirm-order input:required:valid, .confirm-order textarea:required:valid {
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.confirm-order input:focus:invalid, .confirm-order textarea:focus:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.confirm-order .clear {
    padding-bottom: 25px;
}

/* === Button Style === */

#make-order ul li.title {
    text-transform: uppercase;
    font-size:17px;
    color: #525252;
}

#make-order ul li.title .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align:middle;
    margin: 0 10px 5px 0;
}

#make-order ul li.title .returned-customer {
    background: url("../../theme/icons/order.png") 0 0;
}

#make-order ul li.title .new-user {
    background: url("../../theme/icons/order.png") -32px 0;
}

#make-order ul li.title .delivery {
    background: url("../../theme/icons/order.png") -64px 0;
}

#make-order ul li.title .payment {
    background: url("../../theme/icons/order.png") -96px 0;
}

#make-order span.error {
    display: block;
    color: #dc0000;
    padding-top: 5px;
}
#make-order span.error-input{
    padding-left: 150px;
}

@media (max-width: 500px) {
    .confirm-order li {
        padding: 10px 0 10px 0;
    }
    .confirm-order button{
        margin: 0;
        width: 100%;
    }
}
