/* general popup wnd config */
#mbox-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-7e7e7e;
  opacity: 0.75;
}

#mbox-wnd {
  font: 12px Arial, Helvetica, sans-serif;
  position: fixed;
  background: $color-ffffff;
  z-index: 102;
  border: 1px solid $color-d0d0d0;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}

#image-loader {
  position: fixed;
  z-index: 200;
}

#mbox-wnd-close {
  position: fixed;
  z-index: 177;
  display: none;
  cursor: pointer;
}

#popup-wnd-data-content {
  display: none;
}

/* styles for pupup wnd */
.popup-wnd-header {
  border-bottom: 1px solid $color-d0d0d0;
  margin: 0 0 10px 0;
  padding: 13px 12px 12px;
  text-align: left;
  color: $color-5f3e6f;
  font-size: 16px;
  font-weight: bold;
  background: $color-f5f5f5;
}

.popup-wnd-default-content {
  text-align: center;
  padding: 10px 10px 20px;
}

.popup-wnd-warn-msg {
  font-size: 15px;
  text-align: center;
  padding: 34px 20px 40px;
}

.popup-wnd-functional {
  border-top: 1px solid $color-d0d0d0;
  margin: 0 0 10px 0;
  padding: 10px 10px 0;
  text-align: right;
  .additional-info {
    text-align: left;
  }
  input[type=button], input[type=submit] {
    margin-left: 10px;
  }
}

/* wnd sizes*/
.popup-wnd-login-size {
  width: 310px;
  height: 228px;
}

.popup-wnd-dialog-size,
.popup-wnd-upload-images-size {
  width: 850px;
  height: 195px;
}

.popup-wnd-partner-select-product-size {
  width: 312px;
  height: 214px;
}

.popup-wnd-user-create-albums-size {
  width: 500px;
  height: 160px;
}

.popup-wnd-produse-user-albums-size {
  width: 300px;
  height: 400px;
}

.popup-wnd-admin-edit-theme-size {
  width: 600px;
  height: 406px;
}

.popup-wnd-admin-edit-tag-size {
  width: 600px;
  height: 257px;
}

.popup-wnd-admin-edit-product-size {
  width: 600px;
}

.popup-wnd-partnership-add-theme-size {
  width: 600px;
  height: 450px;
}

.popup-wnd-preview-postcard-size {
  width: 324px;
  height: 497px;
}

.popup-wnd-preview-puzzle-size {
  width: 592px;
  height: 473px;
}

.popup-wnd-preview-cup4-size {
  width: 632px;
  height: 421px;
}

.popup-wnd-preview-cup5-size {
  width: 420px;
  height: 390px;
}

.popup-wnd-preview-tshirt1-size, .popup-wnd-preview-tshirt2-size, .popup-wnd-preview-tshirt3-size {
  width: 462px;
  height: 600px;
}

.popup-wnd-preview-trivet-size {
  width: 320px;
  height: 367px;
}

.popup-wnd-preview-mousepad-size {
  width: 590px;
  height: 560px;
}

.popup-wnd-preview-mousepadcircle-size {
  width: 517px;
  height: 560px;
}

.popup-wnd-review-postcard-size {
  width: 624px;
  height: 520px;
}

.popup-wnd-review-puzzle-size {
  width: 592px;
  height: 473px;
}

.popup-wnd-review-cup4-size {
  width: 632px;
  height: 418px;
}

.popup-wnd-review-cup5-size {
  width: 420px;
  height: 390px;
}

.popup-wnd-review-tshirt1-size, .popup-wnd-review-tshirt2-size, .popup-wnd-review-tshirt3-size {
  width: 462px;
  height: 607px;
}

.popup-wnd-review-trivet-size {
  width: 320px;
  height: 367px;
}

.popup-wnd-review-mousepad-size {
  width: 590px;
  height: 560px;
}

.popup-wnd-review-mousepadcircle-size {
  width: 517px;
  height: 560px;
}

.popup-wnd-produces-productpreview-size {
  width: 540px;
  height: 545px;
}

.popup-wnd-pay-out-size {
  width: 400px;
  height: 175px;
}

.popup-wnd-change-pass-size {
  width: 800px;
  height: 218px;
}

.popup-wnd-user-upload-avatar-size {
  width: 740px;
  height: 415px;
}

.popup-wnd-t-shirt-size-mantshirt-size {
  width: 500px;
  height: 289px;
}

.popup-wnd-t-shirt-size-womantshirt-size {
  width: 500px;
  height: 318px;
}

/* login wnd */
#popup-wnd-login {
  .popup-wnd-content {
    padding: 10px 0 15px;

    .popup-wnd-errors {
      height: 0;
    }
  }

  .popup-wnd-content-errors {
    padding: 0 0 5px;

    .popup-wnd-errors {
      height: 20px;
    }
  }

  .popup-wnd-errors {
    color: $color-ff0000;
    text-align: center;
  }
}

#popup-wnd-login input[type=text], #popup-wnd-login input[type=password] {
  width: 150px
}

/* add theme wnd */
#popup-wnd-add-theme {
  .popup-wnd-content {
    display: inline-block;
    height: 310px;
    width: 100%;
    text-align: left;
    overflow-y: scroll;
    margin-bottom: 10px;

    .add-theme {
      list-style-type: none;
    }

    .theme {
      padding: 3px;
      cursor: pointer;
      border-bottom: $color-eeeeee solid 1px;
      margin: 0 10px;
    }
  }
}

#popup-wnd-add-theme .popup-wnd-content .theme:last-child {
  border-bottom: none;
}

#popup-wnd-add-theme .popup-wnd-content .theme:hover {
  background: $color-d69323;
  color: $color-ffffff;
}

#popup-wnd-add-theme .popup-wnd-content .selected,
#popup-wnd-add-theme .popup-wnd-content .selected:hover {
  background: $color-5f3e6f;
  color: $color-ffffff;
}

#popup-wnd-add-theme .popup-wnd-content .selected .selected,
#popup-wnd-add-theme .popup-wnd-content .selected .selected:hover {
  background: $color-f5c9ea;
  color: $color-435761;
}

#popup-wnd-add-theme .popup-wnd-content .sub-theme {
  background: $color-ffffff;
  color: $color-435761;
  list-style-type: none;
}

#popup-wnd-add-theme .popup-wnd-content .has-data {
  padding: 3px;
}

#popup-wnd-add-theme .popup-wnd-content .sub-theme li {
  padding: 3px;
  cursor: pointer;
  border-bottom: $color-eeeeee solid 1px;
  margin: 0;
}

#popup-wnd-add-theme .popup-wnd-content .sub-theme li:hover {
  background: $color-ffe7aa;
  color: $color-435761;
}

#popup-wnd-add-theme .popup-wnd-content .sub-theme li.theme:before {
  content: "\2192 ";
}

#popup-wnd-add-theme #error-msg {
  color: $color-ff0000;
  text-align: left;
  display: none;
}

.popup-t-shirt-size {
  table {
    padding-left: 10px;
    font-size: 14px;

    th,
    tr td:first-child {
      font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
      text-align: left;
    }

    th,
    tr td {
      border: 1px solid $color-d0d0d0;
      border-left: 0;
      color: $color-4f6b72;
      padding: 6px 6px 6px 12px;
    }

    th {
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 150px;
      &.nobg {
        border-top: 0;
        background: none;
        width: 180px;
      }
    }
    tr {
      &.alt {
        td {
          background: $color-f5f5f5;
        }
      }
      td {
        border-top: 0;
        background: $color-ffffff;
        text-align: right;
        &:first-child {
          border-left: 1px solid $color-c1dad7;
        }
      }
    }
  }
  div {
    text-align: justify;
    font-size: 12px;
    &.width {
      padding: 10px;
    }
    &.height {
      padding: 0 10px 10px;
    }
  }
}
