table.tablesorter {
    font-family:arial;
    background-color: #E7E7E7;
    margin:0px;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #f3f3f3;
    border: 1px solid #ffffff;
    padding: 4px;
    color: #5F3E6F;
}
table.tablesorter thead tr .header {
    background-image: url(../../theme/user/table/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../../theme/user/table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../../theme/user/table/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #f4c280;
}
.basketFunctionalBtn{
    padding: 4px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-top: none;
}
table.tablesorter .updateCount{
    width:40px;
    padding:0;
    margine:0;
}


table.tablesorter tbody tr.closed td, label.closed, span.closed {
    background-color: #d3f8a8;
}
table.tablesorter tbody tr.canceled td, label.canceled, span.canceled{
    background-color: #f8c3be;
}
table.tablesorter tbody tr.pending td, label.pending, span.pending {
    background-color: #f3f4af;
}