// constants
$main-background-color: #ffffff;
//$content-background-color: #f5f5f5;
$main-border-color: #d0d0d0;

$textColor: #435761;
$titleColor: #5f3e6f;
$linkBaseColor: #be6227;
$linkHoverColor: #c27f54;

// functions
@mixin border-radius($top, $right, $bottom, $left){
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  -o-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}
@mixin box-shadow($top, $right, $bottom, $left){
  -webkit-box-shadow: $top $right $bottom $left;
  -moz-box-shadow: $top $right $bottom $left;
  -o-box-shadow: $top $right $bottom $left;
  box-shadow: $top $right $bottom $left;
}
@mixin text-shadow($top, $right, $bottom, $left){
  -webkit-text-shadow: $top $right $bottom $left;
  -moz-text-shadow: $top $right $bottom $left;
  -o-text-shadow: $top $right $bottom $left;
  text-shadow: $top $right $bottom $left;
}

// styless
@mixin button($color, $border-color){
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  line-height: 18px;
  padding: 3px 7px 5px;
  color: #fef4e9 !important;
  border: solid 1px $border-color;
  @include text-shadow(0, 1px, 1px, rgba(0, 0, 0, .3));
  @include border-radius(3px, 3px, 3px, 3px);
  @include box-shadow(2px, 2px, 2px, 2px);
}
@mixin button-bg($bg-color, $bg-gradient){
  background: $bg-color;
  background: -webkit-gradient(linear, left top, left bottom, from($bg-color), to($bg-gradient));
  background: -moz-linear-gradient(top, $bg-color, $bg-gradient);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg-color', endColorstr='$bg-gradient');
}
