input, select, textarea {
  margin: 0;
  padding: 0;
  font-size: 14px;
  outline: none;
  font-family: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */

input[type="text"], input[type="password"], textarea, select, div.styled, input[type="file"] {
  border-radius: 3px;
  border: solid 1px $color-d0d0d0;
  padding: 4px;
}

div.styled, select, input[type="file"]:after {
  background: white url(../theme/formelements-select.png) no-repeat center right;
  -webkit-box-shadow: 0 1px 2px rgba($color-000000, 0.2);
  box-shadow: 0 1px 2px rgba($color-000000, 0.2);
}

input[type="text"], input[type="password"], textarea, input[type="file"] {
  padding: 5px 8px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border: 1px solid $color-d0d0d0;
  box-shadow: 0 0 4px $color-d0d0d0;
}

/* ----------------------------------------------  File field  ----------------------------------------------  */

/* Webkit Only */

input[type="file"] {
  position: relative;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  padding: 0;
}

input[type=file]::-webkit-file-upload-button {
  width: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  border: none;
}

input[type="file"]:after {
  content: 'Upload File';
  margin: 0 0 0 0.5em;
  display: inline-block;
  left: 100%;
  position: relative;
  background: $color-ffffff url(../theme/formelements-select.png) no-repeat center left;
  padding: 0.3em 0.5em;
  border: solid 1px $color-d0d0d0 !important;
  -webkit-box-shadow: 0 1px 3px rgba($color-000000, 0.2);
  box-shadow: 0 1px 3px rgba($color-000000, 0.2);
  border-radius: 4px;
}

input[type="file"]:active:after {
  box-shadow: none;
}

/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */

.box-form-element input[type="radio"],
.box-form-element input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

.box-form-element label:before {
  display: inline-block;
  position: relative;
  top: .25em;
  left: -2px;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../theme/formelements.png);
  cursor: pointer;
}

input[type="radio"] + label:before {
  background-position: -25px -25px;
}

//
input[type="radio"]:checked + label:before {
  background-position: -25px 0;
}

/* end of query */

/**************************************************************************************************************/

/* form style */
.required:before {
  content: '* ';
}

.optional:before {
  content: '';
}

.submit {
  float: right;
}

.zend_form {
  width: 100%;
  margin: 5px auto;
  padding: 0;
  overflow: auto;

  dt,
  dd {
    float: left;
    margin: 5px 5px 5px 0;
    line-height: 26px;
    padding: 0;
  }

  dt {
    clear: both;
    width: 45%;
    text-align: right;
    padding-right: 10px;
  }

  dd {
    text-align: left;
    width: 50%;
    margin-right: 2px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  img {
    display: block;
  }

  .errors {
    li {
      margin-left: 0;
      padding-left: 2px;
      border: none;
      list-style: none;
      display: inline;
    }
  }

  .inline-radio {
    padding-right: 20px;
  }
}

.errors {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  color: $color-ff0000;
  display: inline;
}

#popup-wnd-data-content {
  .zend_form {
    dt {
      width: 35% !important;
    }

    dd {
      width: 60% !important;
      /*overflow: hidden;*/
    }
  }
}
