/* global element styles */

.no-border {
  border: 0 solid $color-ffffff;
  text-decoration: none;
}

.underline {
  height: 5px;
  border-bottom: 1px solid $color-d0d0d0;
}

.underline-dot {
  height: 2px;
  border-bottom: 1px dotted $color-d0d0d0;
}

.data {
  padding-top: 10px;
  min-height: 350px;
}

.printData {
  position: absolute;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bottom-10 {
  padding-bottom: 10px;
}

.center-allign {
  text-align: center;
  padding: 60px 0 0;
}

.form-center-allign {
  padding: 35px 0 0;
}

.linker {
  color: $color-be6227;
  cursor: pointer;
  &:hover {
    color: $color-c27f54;
    text-decoration: underline;
  }
}

.tracking-pixel {
  position: absolute;
  left: -9999px;
  border: 0;
}

.white {
  background-color: $color-ffffff !important;
}

.yellow {
  background-color: $color-ffc700 !important;
}

.blue {
  background-color: $color-0463b3 !important;
}

.green {
  background-color: $color-1aa75f !important;
}

.red {
  background-color: $color-ec2834 !important;
}

.black {
  background-color: $color-353535 !important;
}

.hide,
.hidden {
  display: none;
}

.notification-msg {
  font-size: 24px;
  color: $color-7e7e7e;

  span {
    display: inline-block;
    width: 100%;
    padding: 36px 0 37px;
    border: 1px solid $color-d0d0d0;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }
}

.product-paging-top {
  padding-top: 15px;
  padding-bottom: 6px;
  text-align: center;
}

.product-paging-bottom {
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
}

.breadcrumbs {
  ol {
    li {
      display: inline;
      list-style-type: none;
      &:after {
        content: " » ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}

.page-content {
  display: table;
  width: 100%;

  .text-block {
    display: table-footer-group;
    font-size: 12px;
    padding-top: 10px;

    .grid-container {
      margin-bottom: 10px;
      overflow: hidden;
    }

    .grid-100 {
      padding-top: 10px;
    }

    .header {
      padding-bottom: 10px;
      color: $color-435761;
      font-size: 14px;
      font-weight: bold;
      text-indent: 0;
    }
  }
}

/* ---------------- */

#admin-menu {
  padding: 1px 0;
  border-bottom: 1px solid $color-be6227;
  background: $color-303030;
  line-height: 1.6rem;

  ul {
    li {
      display: inline;
      float: left;
      margin: 0 0.5rem;

      a {
        font-size: 1em;
      }

      a:hover, a.current {
        color: $color-d0d0d0;
      }
    }
  }
}

.top-nav {
  height: 2rem;
  margin: 0 auto;
  line-height: 2rem;
  background: $color-303030;
  vertical-align: middle;

  .language {
    height: 1.75rem;
    margin-top: 0.25rem;

    span {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: url(../theme/flags.png);

      &.ua {
        background-position: 100% 0;
        margin-right: 0.4em;
      }

      &.ru {
        background-position: 0 0;
      }
    }
  }

  .user-panel {
    text-align: right;

    a, #show-login-wnd-btn {
      color: $color-ffffff;
      border-right: 1px dotted $color-d0d0d0;
      padding: 0 .4rem;
      cursor: pointer;

      &:last-child {
        border: none;
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }

    #basket-items-count {
      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }
}

.store {
  .logo {
    margin: .5rem 0;

    a {
      display: inline-block;
    }
  }

  .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: .25rem;
  }

  .info {
    height: 5rem;
    width: 18rem;
    margin-bottom: 1rem;
    float: right;
    background: $color-f5f5f5;
    border-radius: 0 0 3px 3px;
    border: 1px solid $color-d0d0d0;
    border-top: 0;
    text-align: center;
    font-size: 0.9rem;
    color: $color-435761;

    .phone,
    .mail {
      height: 1.5rem;
      line-height: 1.5rem;

      .icon {
        background: url(../theme/top_block_icons.png) no-repeat;
      }
    }

    .phone {
      .icon {
        background-position: 100% 100%;
      }

      &:hover {
        .icon {
          background-position: 100% 0;
        }
      }
    }
    .mail {
      a {
        color: $color-435761;
      }

      .icon {
        background-position: 75% 100%;
      }

      &:hover {
        .icon {
          background-position: 75% 0;
        }
      }
    }
  }

  .mobile-info {
    margin: 0.3rem 0;
    float: right;
    width: 10rem;
    height: 3rem;

    .phone {
      height: 1.5rem;
      line-height: 1.5rem;

      .icon {
        background: url(../theme/top_block_icons.png) no-repeat 100% 100%;
      }

      &:hover {
        .icon {
          background-position: 100% 0;
        }
      }
    }
    .links {
      a {
        width: 48%;
      }
    }
  }
  .links {
    height: 1.8rem;
    line-height: 1.8rem;

    a {
      display: inline-block;
      width: 32%;
      font-size: 0.75rem;
      line-height: 1;

      &.payment,
      &.transportation,
      &.help {
        .icon {
          background: url(../theme/top_block_icons.png) no-repeat;
        }
      }

      &.payment {
        .icon {
          background-position: 50% 100%;
        }

        &:hover {
          .icon {
            background-position: 50% 0;
          }
        }
      }
      &.transportation {
        .icon {
          background-position: 25% 100%;
        }

        &:hover {
          .icon {
            background-position: 25% 0;
          }
        }
      }
      &.help {
        .icon {
          background-position: 0 100%;
        }

        &:hover {
          .icon {
            background-position: 0 0;
          }
        }
      }
    }
  }
}

nav.main {
  background-color: $color-f5f5f5;
  border-bottom: 1px solid $color-d0d0d0;
  border-top: 1px solid $color-d0d0d0;
  overflow: auto;
  padding: 3px 0;
  margin-bottom: 1px;

  ul li {
    float: left;
    display: inline;
    margin: 0 5px;
    padding-top: 2px;

    &.search {
      margin: 0;
      padding-top: 0;
      float: right;

      input[type=text] {
        width: 14rem;
        border-radius: 3px 0 0 3px;
      }

      input[type=submit] {
        width: 4rem;
        border-radius: 0 3px 3px 0;
        padding: 4px;
      }
    }

    a {
      text-decoration: none;
      float: left;
      color: $color-7e7e7e;
      cursor: pointer;
      font: bold 14px/22px "Arial", Helvetica, sans-serif;
      background-position: top right;

      &,
      & span {
        background-repeat: no-repeat;
      }

      &.current,
      &.current span {
        background-image: url(../theme/menu-carrent.png);
      }

      &:hover,
      &:hover span {
        background-image: url(../theme/menu-hover.png);
      }

      &.current {
        color: $color-eeeeee;
      }

      &:hover {
        color: $color-576d07;
      }

      span {
        position: relative;
        float: left;
        margin: 0 4px 0 -5px;
        padding: 1px 7px 3px 7px;
        background-position: top left;

        &.home {
          position: relative;
          height: 24px;
          width: 20px;
          padding-bottom: 5px;

          span {
            position: absolute;
            height: 24px;
            width: 24px;
            left: 5px;
            top: -1px;
            background: url('../theme/home.svg') no-repeat 4px 4px;
            background-size: 16px 16px;
          }
        }
      }
    }
  }
}

footer {
  border-top: 1px solid $color-d0d0d0;
  background-color: $color-f5f5f5;
  margin-top: 0.5rem;
  overflow: auto;
  padding: 10px 0;
  line-height: 1.2rem;

  .group-title {
    font-weight: bold;
    font-size: 0.9em;
  }

  #rh-copy {
    display: none !important;
  }

  .copyright {
    font-size: 0.8em;
    padding-top: 0.3rem;
  }

  .cooperating {
    width: 7rem;
    float: right;
  }

  .social {
    font-weight: bold;
    ul {
      list-style-type: none;
      padding: 5px 0 0;
      li {
        display: inline;
        padding-right: 0.4em;

        &.vk {
          span {
            background: url(../theme/bg-social-links.png) 0 -32px;
            &:hover {
              background-position: 0 0;
            }
          }
        }

        &.fb {
          span {
            background: url(../theme/bg-social-links.png) -32px -32px;
            &:hover {
              background-position: -32px 0;
            }
          }
        }

        &.g-plus {
          span {
            background: url(../theme/bg-social-links.png) -64px -32px;
            &:hover {
              background-position: -64px 0;
            }
          }
        }

        &.twitter {
          span {
            background: url(../theme/bg-social-links.png) -96px -32px;
            &:hover {
              background-position: -96px 0;
            }
          }
        }

        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          a {
            outline: 0;
          }
        }
      }
    }
  }
}

nav.v-nav {
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;

  .green-btn {
    width: 100%;
    margin-bottom: 0.7em;
  }

  ul {
    width: 100%;
    padding-bottom: 0.7em;
    list-style-type: none;
    border: 1px solid $color-d0d0d0;
    background: $color-f5f5f5;

    li {
      display: block;
      padding: 0 0.7em;
      line-height: 2.5em;

      a, > span {
        display: block;
        line-height: 2.5em;
        margin: 0;
        border-bottom: 1px dotted $color-d0d0d0;
      }

      > span.link {
        color: $color-be6227;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &.title {
        font-weight: bold;
        border-bottom: 1px solid $color-d0d0d0;

        span {
          display: none;
          width: 1em;
          height: 1em;
          font-size: 1.5em;
          float: right;
          margin: 0.35em 0 0 0;
          padding: 0;
          text-align: center;
          line-height: 20px;
          border: 1px solid $color-d0d0d0;
          text-decoration: none;
          background: $color-ffffff;
        }
      }

      &.selected {
        margin: -1px -1px 0 -5px;
        background: $color-ffffff;
        border: 1px solid $color-d0d0d0;
        border-right: none;

        a {
          border: none;

          span {
            display: inline;
            padding: 0;
            border: none;
          }
        }

        span {
          display: inline-block;
          border: none;

          &.link {
            cursor: default;
            color: $color-435761;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  nav.v-nav {
    ul {
      padding-bottom: 0;

      li {
        display: none;

        &.title {
          display: block;
          border-bottom: none;

          span {
            display: inline-block;
          }
        }
      }

      &.view-all {
        padding-bottom: 0.7em;

        li {
          display: block;

          &.selected {
            margin: -1px -1px 0;
            border: 1px solid $color-d0d0d0;
          }

          &.title {
            border-bottom: 1px solid $color-d0d0d0;
          }
        }
      }
    }
  }
}

.h-nav {
  float: left;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid $color-d0d0d0;
  background: $color-f5f5f5;
  color: $color-be6227;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  list-style-type: none;

  > li {
    display: inline;
    padding: 0 12px;
    border-right: 1px dotted $color-d0d0d0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      border-left: 1px dotted $color-d0d0d0;
      margin-left: 10px !important;
    }

    &.selected {
      color: $color-435761;
      padding: 12px 15px 8px;
      margin: 0 -1px -1px;
      background: $color-ffffff;
      border: 1px solid $color-d0d0d0;
      border-bottom: none;

      &:hover {
        text-decoration: none;
      }
    }

    a {
      font-size: 14px;
    }
  }
}
