/* html elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:before,
:after {
  box-sizing: inherit;
}

html {
  min-width: 20rem;
  font: normal 16px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  text-align: justify;
  color: $color-435761;
  font-size: 14px;
}

h1,
h4 {
  line-height: 1.25;
}

h2,
h3 {
  line-height: 1.5;
}

h4,
h5,
h6 {
  font-weight:bold;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
}

p {
  text-indent: 25px;
  &.simple {
    text-indent: 0;
  }
}

a {
  font-size: 0.8rem;
  text-decoration: none;

  &:link,
  &:visited {
    color: $color-be6227;
  }
  &:hover {
    color: $color-c27f54;
    text-decoration: underline;
  }
  &:active {
    color: lighten($color-be6227, 10);
  }
}

input[type=button], input[type=submit], .violet-btn {
  @include button($color-fef4e9, $color-a46588);
  @include button-bg($color-ac767e, $color-916269);

  &:hover {
    text-decoration: none;
    @include button-bg($color-9d626c, $color-6a3d43);
  }

  &:active {
    text-decoration: none;
    @include button-bg($color-916269, $color-ac767e);
  }
}

input[type=button].green-btn, input[type=submit].green-btn, a.green-btn, button.green-btn {
  display: inline-block;
  padding: 6px 20px;
  border: 1px solid $color-509111;
  border-bottom-color: $color-5b992b;
  border-radius: 3px;
  background-color: $color-68b12f;
  color: $color-ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px 0 $color-396715;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: .9;
    text-decoration: none;
  }

  &:active {
    border-color: $color-20911e;
    box-shadow: 0 0 10px 5px $color-356b0b inset;
  }
}

input[type=submit].add-to-basket {
  width: 162px;
  height: 44px;
  border: 0;
  border-radius: 3px;
  background: $color-ff2700 url(../theme/add-to-basket.svg) no-repeat 12px 8px;
  background-size: 24px 24px;
  font-size: 22px;
  line-height: 40px;
  text-indent: 30px;
  text-decoration: none;
  color: $color-ffffff;
  cursor: pointer;

  &:hover {
    background-color: $color-fd5100;
  }
}

input[type=text].four-digits {
  width: 40px;
}

.share-buttons {
  padding-top: 10px;

  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 3px;

    &.fb,
    &.p,
    &.vk,
    &.t,
    &.g {
      background: url(../theme/social.png) no-repeat;
    }

    &.fb{
      background-position: 0 0;
    }
    &.p{
      background-position: 30px 0;
    }
    &.vk{
      background-position: 60px 0;
    }
    &.t{
      background-position: 90px 0;
    }
    &.g{
      background-position: 120px 0;
      margin-right: 0;
    }
  }
}

