/* global element styles */

.no-border {
  border: 0 solid #FFFFFF;
  text-decoration: none;
}

.underline {
  height: 5px;
  border-bottom: 1px solid $main-border-color;
}

.underline-dot {
  height: 2px;
  border-bottom: 1px dotted $main-border-color;
}

.hidden {
  display: none;
}

.data {
  padding-top: 10px;
  min-height: 350px;
}

.printData {
  position: absolute;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bottom-10 {
  padding-bottom: 10px;
}

.center-allign {
  text-align: center;
  padding: 60px 0 0 0;
}

.form-center-allign {
  padding: 35px 0 0 0;
}


.linker {
  color: #be6227;
  cursor: pointer;
  &:hover {
    color: #c27f54;
    text-decoration: underline;
  }
}

.tracking-pixel {
  border: 0;
  position: absolute;
  left: -9999px;
}

.white {
  background-color: #ffffff !important;
}

.yellow {
  background-color: #ffc700 !important;
}

.blue {
  background-color: #0463b3 !important;
}

.green {
  background-color: #1aa75f !important;
}

.red {
  background-color: #ec2834 !important;
}

.black {
  background-color: #353535 !important;
}

.hide {
  display: none;
}

.notification-msg {
  font-size: 24px;
  color: #999999;
  span {
    display: inline-block;
    width: 100%;
    border-top: 1px solid $main-border-color;
    border-bottom: 1px solid $main-border-color;
    padding: 36px 0 37px 0;
    text-align: center;
  }
}

.product-paging-top {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 6px;
}

.product-paging-bottom {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 9px;
}

.breadcrumbs {
  ol {
    li {
      display: inline;
      list-style-type: none;
      &:after {
        content: " » ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}

.page-content {
  display: table;
  width: 100%;
  .text-block {
    font-size: 12px;
    padding-top: 10px;
    display: table-footer-group;
    .grid-container {
      margin-bottom: 10px;
      overflow: hidden;
    }
    .grid-100 {
      padding-top: 10px;
    }
    .header {
      font-weight: bold;
      font-size: 14px;
      color: #435761;
      padding-bottom: 10px;
      text-indent: 0;
    }
  }
}

/* ---------------- */

#admin-menu {
  background: #101010;
  border-bottom: 1px solid #be6227;
  padding: 1px 0;
  line-height: 1.6rem;
  ul {
    li {
      display: inline;
      margin: 0 0.5rem;
      float: left;

      a {
        font-size: 1em;
      }
      a:hover, a.current {
        color: $main-border-color;
      }
    }
  }
}

.top-nav {
  background: #303030;
  border-bottom: 1px solid #7D5586;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  margin: 0 auto;
  .language {
    height: 1.75rem;
    margin-top: 0.25rem;
    span {
      background: url(../theme/flags.png);
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      &.ua {
        background-position: 100% 0;
        margin-right: 0.4em;
      }
      &.ru {
        background-position: 0 0;
      }
    }
  }
  .user-panel {
    text-align: right;
    color: #d4d4d4;
    font-size: 0.8rem;
    a, #show-login-wnd-btn {
      color: #ffffff;
      border-right: 1px dotted #d4d4d4;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      cursor: pointer;
      &:last-child {
        border: none;
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    #basket-items-count {
      &:before {
        content: "(";
      }
      &:after {
        content: ")";
      }
    }
  }
}

.store {
  .logo {
    margin: 0.5rem 0;
    a {
      display: inline-block;
      img {
      }
    }
  }
  .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 0.25rem;
  }
  .info {
    height: 5rem;
    width: 18rem;
    margin-bottom: 1rem;
    float: right;
    background: #F5F5F5;
    border-radius: 0 0 3px 3px;
    border: 1px solid $main-border-color;
    border-top: none;
    text-align: center;
    font-size: 0.9rem;
    color: #4b4b4b;
    .phone {
      height: 1.5rem;
      line-height: 1.5rem;
      .icon {
        background: url(../theme/top_block_icons.png) no-repeat 100% 100%;
      }
      &:hover {
        .icon {
          background-position: 100% 0;
        }
      }
    }
    .mail {
      height: 1.5rem;
      line-height: 1.5rem;
      .icon {
        background: url(../theme/top_block_icons.png) no-repeat 75% 100%;
      }
      a {
        color: #4b4b4b;
      }
      &:hover {
        .icon {
          background-position: 75% 0;
        }
      }
    }
  }
  .mobile-info {
    margin: 0.3rem 0;
    float: right;
    width: 10rem;
    height: 3rem;
    .phone {
      height: 1.5rem;
      line-height: 1.5rem;
      .icon {
        background: url(../theme/top_block_icons.png) no-repeat 100% 100%;
      }
      &:hover {
        .icon {
          background-position: 100% 0;
        }
      }
    }
    .links {
      a {
        width: 48%;
      }
    }
  }
  .links {
    height: 1.8rem;
    line-height: 1.8rem;
    a {
      font-size: 0.75rem;
      line-height: 100%;
      width: 32%;
      display: inline-block;
      &.payment {
        .icon {
          background: url(../theme/top_block_icons.png) no-repeat 50% 100%;
        }
        &:hover {
          .icon {
            background-position: 50% 0;
          }
        }
      }
      &.transportation {
        .icon {
          background: url(../theme/top_block_icons.png) no-repeat 25% 100%;
        }
        &:hover {
          .icon {
            background-position: 25% 0;
          }
        }
      }
      &.help {
        .icon {
          background: url(../theme/top_block_icons.png) no-repeat 0 100%;
        }
        &:hover {
          .icon {
            background-position: 0 0;
          }
        }
      }
    }
  }
}

nav.main {
  background-color: #F5F5F5;
  border-bottom: 1px solid $main-border-color;
  border-top: 1px solid $main-border-color;
  overflow: auto;
  padding: 3px 0 3px 0;
  margin-bottom: 1px;
  ul li {
    float: left;
    display: inline;
    margin: 0 5px;
    padding-top: 2px;
    &.search {
      margin: 0;
      padding-top: 0;
      float: right;
      input[type=text] {
        width: 14rem;
        border-radius: 3px 0 0 3px;
      }
      input[type=submit] {
        width: 4rem;
        border-radius: 0 3px 3px 0;
        padding: 4px;
      }
    }
    a {
      text-decoration: none;
      float: left;
      color: #777777;
      cursor: pointer;
      font: bold 14px/22px "Arial", Helvetica, sans-serif;
      &.current {
        color: #eeeeee;
        background: url(../theme/menu-carrent.png) no-repeat top right;
        span {
          background: url(../theme/menu-carrent.png) no-repeat top left;
        }
      }
      &:hover {
        color: #576d07;
        background: url(../theme/menu-hover.png) no-repeat top right;
        span {
          background: url(../theme/menu-hover.png) no-repeat top left;
        }
      }
      span {
        margin: 0 4px 0 -5px;
        padding: 1px 7px 3px 7px;
        position: relative;
        float: left;
        &.home {
          margin: 0 4px 0 -5px;
          padding: 1px 7px 5px 7px;
          position: relative;
          height: 24px;
          width: 20px;
          span {
            position: absolute;
            height: 24px;
            width: 24px;
            left: 5px;
            top: -1px;
            background: url('../theme/home.svg') no-repeat 4px 4px;
            background-size: 16px 16px;
          }
        }
      }
    }
  }
}

footer {
  border-top: 1px solid $main-border-color;
  background-color: #F5F5F5;
  margin-top: 0.5rem;
  overflow: auto;
  padding: 10px 0 10px 0;
  line-height: 1.2rem;
  .group-title {
    font-weight: bold;
    font-size: 0.9em;
  }
  #rh-copy {
    display: none !important;
  }
  .copyright {
    font-size: 0.8em;
    padding-top: 0.3rem;
  }
  .cooperating {
    width: 7rem;
    float: right;
  }
  .social {
    font-weight: bold;
    ul {
      list-style-type: none;
      padding: 5px 0 0 0;
      li {
        display: inline;
        padding-right: 0.4em;
        &.vk {
          span {
            background: url(../theme/bg-social-links.png) 0 -32px;
            &:hover {
              background-position: 0 0;
            }
          }
        }
        &.fb {
          span {
            background: url(../theme/bg-social-links.png) -32px -32px;
            &:hover {
              background-position: -32px 0;
            }
          }
        }
        &.g-plus {
          span {
            background: url(../theme/bg-social-links.png) -64px -32px;
            &:hover {
              background-position: -64px 0;
            }
          }
        }
        &.twitter {
          span {
            background: url(../theme/bg-social-links.png) -96px -32px;
            &:hover {
              background-position: -96px 0;
            }
          }
        }
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          a {
            outline: 0;
          }
        }
      }
    }
  }
}

nav.v-nav {
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  .green-btn {
    width: 100%;
    margin-bottom: 0.7em;
  }
  ul {
    width: 100%;
    padding-bottom: 0.7em;
    list-style-type: none;
    border: 1px solid $main-border-color;
    background: #F5F5F5;
    li {
      display: block;
      padding: 0 0.7em 0 0.7em;
      line-height: 2.5em;
      a, > span {
        display: block;
        line-height: 2.5em;
        margin: 0;
        border-bottom: 1px dotted $main-border-color;
      }
      > span.link {
        color: $linkBaseColor;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      &.title {
        font-weight: bold;
        border-bottom: 1px solid $main-border-color;
        span {
          display: none;
          width: 1em;
          height: 1em;
          font-size: 1.5em;
          float: right;
          margin: 0.35em 0 0 0;
          padding: 0;
          text-align: center;
          line-height: 20px;
          border: 1px solid $main-border-color;
          text-decoration: none;
          background: #ffffff;
        }
      }
      &.selected {
        margin: -1px -1px 0 -5px;
        background: #ffffff;
        border: 1px solid $main-border-color;
        border-right: none;
        a {
          border: none;
          span {
            display: inline;
            padding: 0;
            border: none;
          }
        }
        span {
          display: inline-block;
          border: none;
          &.link {
            cursor: default;
            color: $textColor;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  nav.v-nav {
    ul {
      padding-bottom: 0;
      li {
        display: none;
        &.title {
          display: block;
          border-bottom: none;
          span {
            display: inline-block;
          }
        }
      }
      &.view-all {
        padding-bottom: 0.7em;
        li {
          display: block;
          &.selected {
            margin: -1px -1px 0 -1px;
            border: 1px solid $main-border-color;
          }
          &.title {
            border-bottom: 1px solid $main-border-color;
          }
        }
      }
    }
  }
}

.h-nav {
  margin-top: 1rem;
  width: 100%;
  font-size: 14px;
  list-style-type: none;
  border: 1px solid $main-border-color;
  background: #F5F5F5;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #be6227;
  float: left;
  line-height: 30px;
  > li {
    display: inline;
    padding: 0 12px 0 12px;
    border-right: 1px dotted $main-border-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:first-child {
      border-left: 1px dotted $main-border-color;
      margin-left: 10px !important;
    }
    &.selected {
      color: #435761;
      padding: 12px 15px 8px 15px;
      margin: 0 -1px -1px -1px;
      background: #ffffff;
      border: 1px solid $main-border-color;
      border-bottom: none;
      &:hover {
        text-decoration: none;
      }
    }
    a {
      font-size: 14px;
    }
  }
}
